.cardMain{
    position: relative;
    margin-top: -60%;
    min-height: 15.5rem;
    border-radius: 13px;
    /* border: 1px solid #ff000061; */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/images/13.jpeg');
    color: #b7b7b7;
}

.numRow{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
}

.chip{
    /* height: 8%; */
    width: 17%;
}
.num{
    width: 10px !important;
}
.metaText{
    font-size: 0.7rem;
    margin-bottom: 0px;
}
.mon{
    min-width:25px;
    text-align: right;
    align-items: flex-end;
    align-content: flex-end;
    /* background-color: red; */
}