.numRow {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
}

.chip {
  /* height: 8%; */
  width: 17%;
}
.num {
  width: 10px !important;
}
.metaText {
  font-size: 0.7rem;
  margin-bottom: 0px;
}
.mon {
  min-width: 20px;
  /* background-color: red; */
}
.cardLogo {
  height: 3rem;
  width: 6rem;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: contain;
}

/*  ============= CARDS =========== */
.visa {
  background-image: url("../assets/images/visa.png");
}
.amex {
  background-image: url("../assets/images/amex.png");
}
.mastercard {
  background-image: url("../assets/images/mastercard.png");
}
.discover {
  background-image: url("../assets/images/discover.png");
}
.rupay {
  background-image: url("../assets/images/rupay.png");
}
.maestro {
  background-image: url("../assets/images/maestro.png");
}

.cardContainer {
  background-color: transparent;
  perspective: 1000px;
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.cardBack {
  transform: rotateY(180deg);
}
.cardImg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/images/13.jpeg");
  border-radius: 15px;
}
.cardMain {
  position: relative;
  margin-top: -60%;
  min-height: 15.5rem;
  border-radius: 13px;
  /* border: 1px solid #ff000061; */
  transition: transform 0.6s;
  transform-style: preserve-3d;
  color: #b7b7b7;
  perspective: 1000px;
}
