.formBox{
    width: 25vw;
    height: 40vh;
    background-color: #fdffff;
    color:rgb(82, 82, 82);
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 21rem;
}
.labelName{
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 0px;
}